.container{
  display: flex;
  flex-direction: column;
  background-color: #F0F1F3;
}
.header{
  background-color: #fff;
  display: flex;
  align-items: center;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
height: 60px;
  }
  @media (min-width: 768px) {
    height: 100px;
  }
}
.logo{
  height: auto;
  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
width: 100px;
  }
  @media (min-width: 768px) {
    width: 245px;
  }
}
.menus{
  display: flex;
  align-items: center;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {

  }
  @media (min-width: 768px) {
    margin-left: 137px;
  }
}
.menu{
  font-weight: 600;
  cursor: pointer;
  color: #383E49;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
font-size: 12px;
    margin-right: 10px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
    margin-right: 68px;
  }
}
.active{
  color: #007CFF;
  position: relative;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {

  }
  @media (min-width: 768px) {

  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #007CFF;
    @media (min-width: 375px) {

    }
    @media (min-width: 414px) {

    }
    @media (min-width: 768px) {

    }
  }
}
.searchBar{
  height: auto;
  margin-left: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
width: 200px;
  }
  @media (min-width: 768px) {
    width: 544px;
  }
}
.avatar{
  height: auto;
  margin-left: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
width: 50px;
  }
  @media (min-width: 768px) {
    width: 101px;
    margin-right: 35px;
  }
}
.sidebar{
width: 280px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {

  }
  @media (min-width: 768px) {

  }
}
.content{
  display: flex;
  margin-top: 20px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {

  }
  @media (min-width: 768px) {

  }
}
.innerContent{
margin-left: 20px;
  display: flex;
  flex-direction: column;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {

  }
  @media (min-width: 768px) {

  }
}
.pageHeader{
  width: 1586px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {

  }
  @media (min-width: 768px) {

  }
}