html,
body,
#__next {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.logo {
  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    height: 100%;
    width: auto;
  }
  @media (min-width: 768px) {
    width: 245px;
    height: auto;
  }
}
.home-join {
  font-weight: 300;
  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
    margin-left: auto;
  }

}
.home-product {

  font-weight: 300;

  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
    margin-left: 70px;
  }
}
.home-person {
  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    height: 50%;
    width: auto;
  }
  @media (min-width: 768px) {
    width: 40px;
    height: auto;
    margin-left: 49px;
  }
}
.home-triangle {
  position: absolute;
  width: 250px;
  height: 250px;

}
.home-circle {
  position: absolute;
  width: 400px;
  height: 400px;
}
.home-rect {
  position: absolute;
  width: 400px;
  height: 400px;
}
.home-left-top {
  width: 730px;
  height: auto;
  position: absolute;
}
.home-right-top {
  width: 440px;
  height: auto;
  position: absolute;
  right: 0;
}
.home-right-bottom {
  width: 730px;
  height: auto;
  position: absolute;
  right: 0;
  top: 616px;
}
.home-small-logo {
  z-index: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    margin-top: 10px;
    width: 50px;
    height: auto;
  }
  @media (min-width: 768px) {
    margin-top: 190px;
    width: 79px;
    height: auto;
  }
}
.home-title {
  font-weight: 700;
  color: #383e49;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
margin-top: 20px;
  }
  @media (min-width: 768px) {
    font-size: 40px;
    margin-top: 16px;
  }
}
.home-sub-title {
  font-weight: 400;
  color: #5d6679;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
  }
  @media (min-width: 768px) {
    margin-top: 30px;
    font-size: 24px;
  }
}
.home-search-input {
  display: flex;
  align-items: center;
  background-color: rgba(167, 167, 167, 0.15);
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    border-radius: 100px;
    margin-top: 30px;
  }
  @media (min-width: 768px) {
    width: 580px;
    height: 54px;
    border-radius: 100px;
    margin-top: 78px;
  }
}
.home-search-icon {
  width: 24px;
  height: auto;
  margin-left: 23px;
}
.home-input-search-button {
  background-image: linear-gradient(#00c6ff, #0078ff);
  border-radius: 58px;
  height: 100%;
  color: #fff;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   width: 60px;
    font-size: 12px;
  }
  @media (min-width: 768px) {
    width: 108px;
  }
}
.home-button-wrapper {
  display: flex;
  justify-content: center;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    margin-bottom: 150px;
    margin-top: 30px;
    position: relative;
  }
  @media (min-width: 768px) {
    margin-top: 41px;
    margin-bottom: 378px;
  }
}
.home-ask-metric{
  display: flex;
  align-items: center;
  z-index: 110;
  background-color: #FEFEFE;
  position: absolute;
  box-shadow: 0 8px 16px rgba(50, 50, 71, 0.05), 0 -10px 8px rgba(50, 50, 71, 0.05);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    width: 400px;
    border-radius: 30px;
    left: 0;
    right: 0;
    margin: 35px auto 0 auto;
    justify-content: space-around;
    padding: 20px 0 20px 0;
  }
  @media (min-width: 768px) {
    margin-top: 48px;
    width: 714px;
    border-radius: 30px;
    left: 50%;
  transform: translateX(-50%);
  padding: 76px 0 76px 0;
  justify-content: flex-start;
  }
  &::before{
      content: '.';
position: absolute;
background-color: #FEFEFE;
box-shadow: 0 -10px 8px rgba(50, 50, 71, 0.05);
@media (min-width: 375px) {

}
@media (min-width: 414px) {
  top: -17px;
  width: 34px;
  height: 34px;
  left: 68%;
  z-index: -1;
  transform: translateX(-50%) rotate(-45deg);
}
@media (min-width: 768px) {
  width: 34px;
  height: 34px;
  transform: translateX(-50%) rotate(-45deg);
  top: -17px;
left: 50%;
}
  }
}
.home-ask-metric-left {
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    width: 377px;
  }
}
.home-ask-metric-computer {
  background-image: url("../assets/ask_metric.png");
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    width: 130px;
    height: 130px;
   
  }
  @media (min-width: 768px) {
    width: 250px;
    height: 250px;
    position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  }
}
.home-ask-metric-title {
  font-weight: 600;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 30px;
    margin-left: 50px;
    line-height: 24px;
  }
}
.home-ask-metric-text-black {
  font-weight: 400;
  color: #555d72;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    margin-top: 8px;
    font-size: 20px;
    margin-left: 50px;
    line-height: 30px;
  }
}
.home-ask-metric-text {
  font-weight: 400;
  color: #b9bdc7;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   font-size: 16px;
  }
  @media (min-width: 768px) {
    margin-top: 8px;
  font-size: 20px;
  margin-left: 50px;
  line-height: 30px;
  }
}
.home-ask-button {
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    width: 120px;
    height: 30px;
    font-size: 12px!important;
    margin-left: 20px;
  }
  @media (min-width: 768px) {
    width: 153px;
    height: 44px;
    margin-left: 20px;
    position: relative;
  }
}
.home-search-button {
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   width: 120px;
    height: 30px;
    font-size: 12px!important;
  }
  @media (min-width: 768px) {
    width: 153px;
    height: 44px;
    position: relative;
  }
}
.home-active-button {
  background-image: linear-gradient(#00c6ff, #0078ff);
  border: none !important;
  color: #fff !important;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   width: 100%!important;
    height: 100%!important;
  }
  @media (min-width: 768px) {
    width: 153px !important;
    height: 44px !important;
  }
}
.home-inactive-button {
  border-color: #d0d3d9 !important;
  color: #5d6679 !important;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   width: 100%!important;
    height: 100%!important;
    font-size: 12px!important;
  }
  @media (min-width: 768px) {
    width: 153px !important;
    height: 44px !important;
  }
}
.home-search{
  display: flex;
  align-items: center;
  z-index: 110;
  background-color: #FEFEFE;
  position: absolute;
  box-shadow: 0 8px 16px rgba(50, 50, 71, 0.05), 0 -10px 8px rgba(50, 50, 71, 0.05);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    width: 400px;
    border-radius: 30px;
    left: 0;
    right: 0;
    margin: 35px auto 0 auto;
    justify-content: space-around;
    padding: 20px 0 20px 0;
  }
  @media (min-width: 768px) {
    margin-top: 48px;
    width: 714px;
    border-radius: 30px;
    padding: 76px 0 76px 0;
    left: 50%;
    justify-content: flex-start;
  transform: translateX(-50%);
  }
  &::before{
      content: '.';
position: absolute;
background-color: #FEFEFE;
box-shadow: 0 -10px 8px rgba(50, 50, 71, 0.05);
@media (min-width: 375px) {

}
@media (min-width: 414px) {
  top: -17px;
  width: 34px;
  height: 34px;
  left: 32%;
  z-index: -1;
  transform: translateX(-50%) rotate(-45deg);
}
@media (min-width: 768px) {
  top: -17px;
  width: 34px;
  height: 34px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}
  }
}
.home-search-left {
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    width: 347px;
  }
}
.home-search-title {
  font-weight: 600;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 30px;
    margin-left: 73px;
    line-height: 24px;
  }
}
.home-search-text-black {
  font-weight: 400;
  color: #555d72;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    margin-top: 7px;
    font-size: 20px;
    margin-left: 73px;
    line-height: 30px;
  }
}
.home-search-text {
  font-weight: 400;
  color: #b9bdc7;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    margin-top: 7px;
    font-size: 20px;
    margin-left: 73px;
    line-height: 30px;
  }
}
.home-search-chart {
  background-image: url("../assets/chart.png");
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
    width: 130px;
    height: 130px;
  }
  @media (min-width: 768px) {
    right: 31px;
    width: 253px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.home-modal-container {
  width: 840px;
  height: 626px;
  background: #fff;
  border-radius: 8px;
  position: relative;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 159px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-modal-header-icon {
  width: 62px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-modal-header-title {
  font-weight: 700;
  font-size: 40px;
  color: #383e49;
  margin-left: 10px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-modal-content {
  margin-top: 29px;
  font-weight: 400;
  font-size: 24px;
  color: #5d6679;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 583px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-modal-footer {
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  width: 572px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-form-input{
  width: 390px;
  height: 44px;
  border: 1px solid #D0D5DD!important;
  outline: none;
  padding: 10px 14px 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-side-container {
  padding: 38px 43px 0 44px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  width: 280px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
  transform: translateX(0px);
  z-index: 150;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-side-container-hide {
  padding: 38px 43px 0 44px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  width: 280px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
  transform: translateX(-280px);
  z-index: 150;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-side-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(93, 102, 121, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-sub-menu-item {
  font-weight: 300;
  font-size: 12px;
  line-height: 29px;
  color: rgba(93, 102, 121, 1);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-side-down-icon {
  width: 8px;
  height: auto;
  margin-left: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-bottom-box {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  z-index: 90;
  box-shadow: 0 8px 59px rgba(50, 50, 71, 0.06), 0 -10px 95px rgba(38, 106, 136, 0.06);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer {
  height: 438px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 90;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-left-circle {
  width: 440px;
  height: auto;
  position: absolute;
  left: 29px;
  top: 0;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-right-circle {
  width: 365px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-glass {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(200px);
  background-color: #000;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-left-box {
  z-index: 100;
}
.home-footer-right-box {
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-logo {
  width: 31px;
  height: 31px;
  background-image: url("../assets/footer_logo.png");
  background-size: 250% auto;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-top-row {
  display: flex;
  align-items: center;
  margin-left: 351px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-bottom-row {
  display: flex;
  align-items: center;
  margin-left: 351px;
  margin-top: 76px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-text1 {
  margin-left: 12px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-text2 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-left: 79px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-text3 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-left: 67px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-text4 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-left: 41px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-text5 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-left: 31px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-phone-text {
  font-weight: 400;
  font-size: 26px;
  color: #fff;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-time-text {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 18px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-icons {
  display: flex;
  align-items: center;
  margin-left: 97px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-phone-icon {
  width: 28px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-email-tooltip{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-phone-tooltip{
  font-size: 18px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-email-icon {
  width: 32px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-eye-icon {
  width: 26px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-weixin-icon {
  width: 32px;
  height: auto;
}
.home-footer-douyin-icon {
  width: 25px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-clutch-icon {
  width: 214px;
  height: auto;
  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-uiclutch-icon {
  width: 214px;
  height: auto;
  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-footer-icon-wrapper {
  width: 65px;
  height: 65px;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 50px;
  cursor: pointer;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-container {
  position: relative;
  border-radius: 20px;
  /** background-color: #fff;**/
  top: -104px;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 1200px;
  padding-top: 50px;
  padding-bottom: 40px;
  box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06), 0px -10px 8px rgba(50, 50, 71, 0.08);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-top-box {
  background-color: rgba(244, 246, 246, 0.7);
  width: 1099px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 19px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-top-icon-wrapper {
  background-color: rgba(241, 104, 134, 1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-top-icon {
  width: 22px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-top-text {
  font-weight: 400;
  font-size: 16px;
  color: rgba(75, 82, 90, 1);
  width: 963px;
  margin-left: 23px;
  height: 59px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-bottom-box {
  width: 1099px;
  background-color: rgba(244, 246, 246, 0.7);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 15px auto 0 auto;
  padding-top: 28px;
  padding-bottom: 23px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-bottom-icon-wrapper {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-bottom-icon {
  width: 60px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-bottom-right {
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-bottom-text {
  width: 963px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(75, 82, 90, 1);
  height: 227px;
  white-space: pre-wrap;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.blink-cursor {
  position: relative;
}
.blink-cursor:after {
  content: "";
  animation: blink 1s step-end infinite;
  width: 2px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.home-chart-bottom-key {
  font-size: 16px;
  font-weight: 700;
  color: rgba(72, 80, 94, 1);
  margin-top: 22px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-chart-img {
  width: 1000px;
  height: 257px;
  margin-top: 23px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-commerce-box {
  background-color: rgba(244, 246, 246, 0.4);
  flex: 1;
  margin-top: -33px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-report-title {
  width: 699px;
  font-weight: 700;
  font-size: 40px;
  color: rgba(19, 19, 19, 1);
  z-index: 200;
  margin: 100px auto 0 auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-product-box {
  border-radius: 20px;
  /**background-color: rgba(244, 246, 246, 1);**/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 83px 0 0 0;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-product-title {
  font-weight: 700;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-product-text {
  font-weight: 400;
  font-size: 20px;
  color: rgba(134, 144, 156, 1);
  width: 417px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-product-pic {
  width: 677px;
  height: auto;
  margin-left: 155px;
  margin-right: 208px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-metric-box {
  width: 1200px;
  /**background-color: rgba(244, 246, 246, 1);**/
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 93px auto 0 auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-metric-pic {
  width: 675px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-metric-right {
  width: 451px;
  margin-left: 69px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-metric-title {
  font-weight: 700;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-metric-text {
  color: rgba(134, 144, 156, 1);
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-monitor-box {
  /**background-color: rgba(244, 246, 246, 1);**/
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px auto 67px auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-monitor-pic {
  width: 671px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-monitor-left {
  width: 451px;
  margin-left: 103px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-monitor-title {
  font-weight: 700;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-monitor-text {
  color: rgba(134, 144, 156, 1);
  font-weight: 400;
  font-size: 20px;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
.home-ok-button {
  width: 153px;
  height: auto;
  @media (min-width: 375px) {

  }
  @media (min-width: 414px) {
   
  }
  @media (min-width: 768px) {
    
  }
}
