.container{
    width: 714px;
    height: 400px;
    background-color: red;
    position: relative;
    border-radius: 30px;
    margin: 200px 100px 0 100px;
    &::before{
        content: '.';
position: absolute;
width: 34px;
height: 34px;
transform: translateX(-50%) rotate(-45deg);
background-color: red;
top: -18px;
left: 50%;
    }
}